cleanup_slider.Rd
cleanup_video.Rd
compute_checkbox_order.Rd
compute_checkbox_presence.Rd
confint_fixed_model.Rd
confint_linear_model.Rd
confint_logistic_model.Rd
confint_mixed_model.Rd
confint_mixed_model_bolker.Rd
confint_model.Rd
confint_multinomial_model.Rd
confint_multinomial_ordinal_model.Rd
confint_ordinal_model.Rd
first_non_na.Rd
fit_fixed_model.Rd
fit_linear_model.Rd
fit_logistic_model.Rd
fit_mixed_model.Rd
fit_model.Rd
fit_multinomial_model.Rd
fit_ordinal_model.Rd
import_csv.Rd
import_json.Rd
import_json_question.Rd
import_json_sociodemo.Rd
json_serialize.Rd
as.data.frame.checkbox.Rd
cleanup_checkbox.Rd
cleanup_checkbox0.Rd
cleanup_multiplechoice.Rd
cleanup_openquestion.Rd
cleanup_question.Rd
cleanup_sociodemo.Rd
json_unserialize.Rd
make_long_data.Rd
confint_multinomial_ordinal_effect.Rd
